<h1><%=@group.title%></h1>
<%= link_to "Join Group", memberships_path(group_id: @group.id), method: :post, id:"join-group", class: "button" %><br><br>
<% unless @users.empty? %>
  Group Members:<br>
  <ul>
  <% @users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
  </ul>
<% end %>
