<h1><%=@group.title%></h1>
<%= link_to "Join Group", group_path(@group.id), method: :put, id:"join-group" %><br><br>
<% unless @users.empty? %>
  Group Members:<br>
  <ul>
  <% @users.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
  </ul>
<% end %>
