nav {
    background-color: #455D90;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    float: right;
    padding: 12px 8px 12px 8px;
}

.nav-logo{
    /*background-image: image-url("../assets/images/logo.png");*/
    color: white;
    font-size: 20px;
    float: left;
    /*padding: 12px 8px 12px 8px; */
    vertical-align: middle;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Helvetica"
}

.footer {
    padding: 20px 20px;
    font-family: "Helvetica";
    background-color: #455D90;
    color: white;
    font-size: 12px;
    text-align: center;
}


/* Change the link color to #111 (black) on hover */
/*li a:hover {
    background-color: #111;
}*/
