<header>
  <nav>
    <a href = "/">
      <img src='/images/logo.png' class='nav-logo'>
    </a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">View Posts</a></li>
      <li><a href="/posts/new">Post</a></li>
      <li><a href="/sessions/new">Log In</a></li>
      <li><a href="/users/new">Sign Up</a></li>
    </ul>
  </nav>
</header>
