<header>
  <nav>
    <a href = "/">
      <img src='http://i.imgur.com/1O64JDt.png' class='nav-logo'>
    </a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">View Posts</a></li>
      <li><a href="/posts/new">Post</a></li>
      <li><a href="/users/sign_out">Sign Out</a></li>
      <li><a href="/users/sign_in">Log In</a></li>
      <li><a href="/users/sign_up">Sign Up</a></li>
    </ul>
  </nav>
</header>
