<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <ul>
        <li class='nav-logo'>Acebook</li>
        <li><a class="active" href="index">Home</a></li>
        <li><a href="posts/new">Post a message</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
